.input{
    text-align: center;
    margin: 40px 0px;
    input{
        width: 500px;
        padding: 10px 7px;
        background-color: rgb(247, 197, 137);
        border: none;
        border-radius: 15px;
    }
}