.StaticPart1 {
    margin: 80px 0px 0px 0px;

    .bak {
        display: flex;
        justify-content: center;

        .yellow {
            width: 800px;
            height: 519px;
            background-color: #ffb606;
        }

        .white {
            background-image: url(src/images/course_1.jpg);
            width: 800px;
            height: 600px;
            opacity: 0.7;
            background-repeat: no-repeat;

        }
    }

    .staticAll {
        max-width: 1280px;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        position: relative;
        bottom: 500px;
        column-gap: 230px;
        .textPart {
            width: 522px;
            height: 358px;
            color: white;
            span{
                color: black;
            }
        }
        .formPart{
            width: 522px;
            height: 358px;
            input{
                width: 500px;
                padding: 10px 7px;
            }
            button{
                width: 500px;
                padding: 10px 7px;
                background-color: #ffb606;
                border: none;
            }
        }
    }


}